body{
    box-sizing: border-box;
}
/* Header-Nav */
header .header-nav{
    background-color: #333e48;
    height: 34px;
}
header .header-nav .header-nav-fat{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
header .header-nav .header-nav-chil{
    display: flex;
}
header .header-nav .header-nav-click{
    margin: 0px 7px;
    display: flex;
    height: 100%;
    align-items: center;
}
header .header-nav .header-nav-click a{
    text-decoration: none;
}
header .header-nav .header-nav-click i{
    color: rgb(242, 242, 242);
    font-size: 15px;
}
header .header-nav .header-nav-click span{
    color: white;
    font-size: 12px;
}
header .header-nav-click-left{
    position: relative;
    padding: 0px 3px;
}
header .header-nav-click  span:hover{
    opacity: 0.75;
}
header .header-nav-click-left i{
    position: absolute;
    top: 11px;
}
header .header-nav-click-left span{
    padding-left: 20px;
    font-weight: 500;
}
header .line{
    height: 17px;
    width: 2px;
    background-color: #606870;
    margin-top: 9px;
}
header .header-nav-click-right{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 3px;
}
/* qr */
header .header-nav-qr{
    position: relative;
    cursor: pointer;
}
header .header-nav-click:hover .header-nav-qr-main{
    display: block;
}
header .header-nav-qr-main{
    position: absolute;
    display: none;
    width: 188px;
    height: 222px;
    z-index: 4;
    background-color: white;
    top: 100%;
    animation: fadeIn 0.5s ease-out;
}
header .header-nav-qr-main img{
    width: 100%;
}
header .header-nav-app{
    display: flex;
    justify-content: space-between;
}
header .header-nav-app .header-nav-app-ch{
    margin-left: 22px;
}
header .header-nav-app .header-nav-app-st{
    margin-right: 22px;
}
/* end-qr */
/* notify */
header .header-nav-click-notify{
    position: relative;
}
header .header-nav-click-notify:hover .header-nav-notify{
    display: block;
}
header .header-nav-notify{
    position: absolute;
    animation: notify 0.4s ease-out;
    will-change: opacity, transform;
    transform-origin: top right;
    display: none;
    top: 100%;
    z-index: 3;
    right: 0;
    width: 400px;
    box-shadow: 0px 1px 50px 0px #00000033;
}
header .header-nav-notify::before{
    position: absolute;
    content: "";
    top:-16px;
    right: 24px;
    border-style :solid;
    border-width: 8px 11px;
    border-color: transparent transparent white transparent;
    
}
header .header-nav-notify .header-nav-notify-title{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    background-color: white;
    align-items: center;
}
header .header-nav-notify .header-nav-notify-title h3{
    font-size: 16px;
    color: #d4d4d4;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
}
header .header-nav-notify .header-nav-list-notify{
    list-style: none;
    padding: 0;
    background-image: linear-gradient(#fff2ee,#fbf2f2);
    margin: 0;
}
header .header-nav-notify .header-nav-list-notify li{
    padding: 7px 0px;
}
header .header-nav-notify .header-nav-list-notify li:hover{
    background-color: #f5f5f5;
}
header .header-nav-notify .header-nav-list-notify li a{
    display: flex;
    align-items: center;
}
header .header-nav-notify .header-nav-list-notify li .header-nav-notify-img{
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    margin-left: 12px;
}
header .header-nav-notify .header-nav-list-notify li .header-nav-notify-img img{
    width: 100%;
}
header .header-nav-notify .header-nav-list-notify li .header-nav-notify-text{
    flex: 1;
    margin: 3px 30px 3px 10px;
}
header .header-nav-notify .header-nav-list-notify li .header-nav-notify-text p{
    margin-bottom: 3px;
    color: #333;
    font-size: 14px;
    line-height: 15px;
}
header .header-nav-notify .header-nav-list-notify li .header-nav-notify-text span{
    padding: 0;
    display: block;
    color: #00000078;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
header .header-nav-notify-full{
    height: 40px;
    display: flex;
}
header .header-nav-notify-full a{
    margin: auto;
}
header .header-nav-notify-full a span{
    font-size: 14px !important;
    color: #333 !important;
    padding: 0;
}

/* end-notify */
/*End-Header-Nav */
/* Header-Main */
header .header-main{
    height: 95px;
}
header .header-main .header-main-logo{
    width: 250px;
    text-align: center;
}
header .header-main .header-main-logo img{
    height: 100%;
}
header .header-main-box{
    display: flex;
    height: 100%;
    padding: 7px 0px;
}
header .header-main .header-main-select{
    flex: 1;
    display: flex;
    align-items: center;
}
header .header-main .header-main-select-box{
    width: 100%;
    height: 43px;
    display: flex;
    padding: 4px;
    box-shadow: 1px 2px 3px 1px#0000002b;
}
header .header-main .header-main-select-box .header-main-input{
    flex: 1;
    height: 100%;
    position: relative;
}
header .header-main .header-main-input .header-main-input-history{
    position: absolute;
    display: none;
    width: calc(100% + 4px);
    top: 41px;
    padding-left: 11px;
    box-shadow: 1px 1px 3px 2px #d2d2d2b3;
    right: 0;
}
header .header-main .header-main-input .header-main-input-history-title{
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
}
header .header-main .header-main-input .header-main-input-history h3{
    font-size: 16px;
    margin: 0;
    color: #33333359;
}
header .header-main .header-main-input .header-main-input-history .list-history{
    padding: 0;
    list-style: none;
    margin: 0;
}
header .header-main .header-main-input .header-main-input-history .list-history li{
    height: 35px;
}
header .header-main .header-main-input .header-main-input-history .list-history li a{
    font-size: 14px;
    color: #333333d1;
    font-weight: 471;
    display: flex;
    height: 100%;
    text-decoration: none;
    align-items: center;
}
header .header-main .header-main-input .header-main-input-history .list-history li a span{}
header .header-main .header-main-input input:focus ~ .header-main-input-history{
    display: block;
}
header .header-main .header-main-select-box .header-main-input input{
    border: none;
    padding-left: 10px;
    font-size: 14px;
    outline: none;
    width: 100%;
    height: 100%;
}
header .header-main .header-main-select-box  .box-select ul{
    list-style: none;
    display: none;
    margin: 0;
    top: 40px;
    right: 0;
    width: 117px;
    box-shadow: 1px 1px 2px 1px #c3c3c354;
    position: absolute;
    padding-left: 0;
}
header .header-main .header-main-select-box  .box-select ul::before{
    content: "";
    width: 117px;
    height: 10px;
    position: absolute;
    top:-5px;
    right: 0;
}
header .header-main .header-main-select-box .box-select ul li{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px #eceaeaa1;
}
header .header-main .box-select {
    width: 108px;
    display: flex;
    font-size: 14px;
    position: relative;
}
header .header-main .box-select:hover ul{
    display: block;
}
header .header-main .box-select::before {
    content: "";
    height: 24px;
    width: 1px;
    margin-top: 6px;
    background-color: rgba(133, 133, 133, 0.863);
}
header .header-main .box-select-main {
    margin: auto;
}
header .header-main .header-main-select-box .box-select ul li span{
    margin-left: 13px;
}
header .header-main .header-main-select-box ul li i{
    margin-right: 13px;
}
header .header-main .header-main-select-box button{
    width: 60px;
    border: none;
    height: 35px;
    outline: none;
    background-color: #333e48;
    color: whitesmoke;
}
header .header-main .header-main-cart{
    width: 100px;
    display: flex;
}
header .header-main  .header-main-cart-number{
    position: absolute;
    height: 20px;
    width: 25px;
    top: -11px;
    right: 0px;
    border-radius: 24px;
    background-color: white;
    border: solid 2px #fb5433;
    display: flex;
}
header .header-main  .header-main-cart-number span{
    font-size: 14px;
    margin: auto;
    color: #fb5433 ;
    line-height : 14px;
}
header .header-main .header-main-cart .header-main-cart-hover{
    margin: auto;
    width: 50px;
    font-size: 20px;
    position: relative;
    display: flex;
}
header .header-main .header-main-cart .header-main-cart-hover:hover .header-main-cart-mini{
    display: block;
}
header .header-main .header-main-cart .header-main-cart-hover i{
    cursor: pointer;
    margin: auto;
    color: #fb5433;
}
header .header-main .header-main-cart .header-main-cart-mini{
    position: absolute;
    padding: 10px;
    display: none;
    background-color: white;
    top: 34px;
    right: 0;
    width: 400px;
    box-shadow: 1px 1px 46px rgba(189, 189, 189, 0.5);
}
header .header-main .header-main-cart .header-main-cart-mini::after{
    position: absolute;
    content: "";
    border-width: 10px 15px;
    display: block;
    border-style: solid;
    border-color: transparent transparent white transparent;
    top: -20px;
    right: 10px;
}
header .header-main .header-main-cart .header-main-cart-mini p{
    margin: 20px auto;
    font-size: 16px;
    margin: 20px auto;
    display: none;
}
header .header-main .header-main-cart .header-main-cart-mini .no-cart{
    width: 200px;
    display: none;
    margin: 20px auto;
}
header .header-main .header-main-cart .header-main--no-cart img{
    display: block;
}
header .header-main .header-main-cart .header-main--no-cart p{
    display: block;
}
header .header-main .header-main-cart .header-main-cart-mini h3{
    display: none;
    font-size: 15px;
    font-weight: 400;
    color: #a09c9c9e;
    margin: 0;
}
header .header-main .header-main-cart .header-main-cart--has-cart h3{
    display: block;
}
header .header-main .header-main-cart .header-main-cart-mini .list-catagory::before{
    content: "";
    position: absolute;
    top: 100%;
    right: -10px;
    height: 1px;
    width: 400px;
    background-color: orangered;
}
header .header-main .header-main-cart .header-main-cart-mini .list-catagory{
    padding: 10px 0px;
    display: none;
    position: relative;
    margin: 0;
    list-style: none;
}
header .header-main .header-main-cart .header-main-cart--has-cart .list-catagory{
    display: block;
}
header .header-main .header-main-cart .header-main-cart-mini .list-catagory li{
    display: flex;
    height: 60px;
    align-items: center;
}
header .header-main .header-main-cart .header-main-cart-mini .list-catagory li:hover{
   background-color: #f5f5f5;
}
header .header-main .header-main-cart .header-main-cart-mini .list-catagory li img{
    width: 40px;
    height: 40px;
}
header .header-main-cart-mini .list-catagory .list-catagory-text{
    flex: 1;
    padding-left: 10px;
}
header .header-main-cart-mini .list-catagory .list-catagory-text .list-catagory-text-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-main-cart-mini .list-catagory .list-catagory-text .list-catagory-text-del{
    display: flex;
    justify-content: flex-end;
}
header .header-main-cart-mini .list-catagory .list-catagory-text .list-catagory-text-del button{
    height: 24px;
    background: #fb5433;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}
header .header-main-cart-mini .list-catagory .list-catagory-text .list-catagory-text-info span{
    font-size: 14px;
    padding: 0;
    margin-top: 0;
}

header .header-main-cart-mini .list-catagory .list-catagory-text .list-catagory-text-number span{
    font-size: 14px;
    height: 100%;
}
header .header-main-cart-mini .list-catagory .list-catagory-text .list-catagory-text-number span:first-child{
    color:#fb5433;
}
header .header-main-cart-mini::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 100px;
    top: -9px;
    right: 0;
}
header .header-main-cart-mini .list-catagory-sum{
    display: none;
    padding: 5px 0px;
}
header .header-main-cart--has-cart .list-catagory-sum{
    display: block;
}
header .header-main-cart-mini .list-catagory-sum .sum-money ,
header .header-main-cart-mini .list-catagory-sum .sum-point{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 0px;
    font-weight: 450;
}
header .header-main-cart-mini .list-catagory-but button{
    height: 36px;
    font-size: 14px;
    width: 108px;
    background: #fb5433;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 480;
}
header .header-main-cart-mini .list-catagory-but{
    height: 36px;
    display: none;
    justify-content: flex-end;
}
header .header-main-cart--has-cart .list-catagory-but{
    display: flex;
}
/* End-Header-Main */
/* Main */
main{
    background-color: #f5f5f5;
}
/* List-Name */
main .list-name{
    background-color: white;
}
main .list-name .list-name-header{
    position: relative;;
    height: 50px;
    display: flex;
    align-items: center;
}
main .list-name .list-name-header i{
    padding-right: 10px;
}
main .list-name .list-name-header span{}
main .list-name .list-name-header::after{
    content: "";
    position: absolute;
    width: 180px;
    height: 1px;
    top: 100%;
    background-color: #ababab36;
    right: 0;
}
main .list-name .list-name-action{
    padding: 10px;
    position: relative;
}
main .list-name .list-name-action::before{
    content: "";
    border-width: 5px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent #d50137;
    top: 17px;
    left: -1px;
}
main .list-name .list-name-action > span{
    color: #d50137;
    font-size: 15px;
}
main .list-name .list-name-catagory{
    list-style: none;
    padding: 0px 10px;
}
main .list-name .list-name-catagory li{
    padding: 3px 0px;
}
main .list-name  .list-name-catagory li a{
    color: #333;
    text-decoration: none;
}
main .list-name .list-name-catagory li a span{
    font-size: 14px;
}
/* End-List-Name */
/* Filter*/
main .home-filter{
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
}
main .home-filter .home-filter-click{
    display: flex;
    padding: 0px 0px 0px 20px;
    height: 100%;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
main .home-filter .home-filter-click span{

font-size: 14px;
}
main .home-filter .home-filter-click button:nth-child(2){
    background-color: #ee4d2d;
    color: white;
}
main .home-filter .home-filter-click button{
    width: 90px;
    height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 3px;
    background-color: white;
}
main .home-filter .home-filter-click .home-filter-select{
    width: 200px;
    height: 36px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .home-filter .home-filter-click .home-filter-select span{
    padding: 15px;
}
main .home-filter .home-filter-click .home-filter-select i{
    padding: 15px;
}
main .home-filter .home-filter-click .home-filter-select .home-filter-option{
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    top: calc(100% + 2px);
    width: 200px;
    height: 80px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #c1c1c166;
}
main .home-filter .home-filter-click .home-filter-select:hover .home-filter-option{
    display: block;
}
main .home-filter .home-filter-click .home-filter-select .home-filter-option li{
    height: 40px;
    display: flex;
    align-items: center;
}
main .home-filter .home-filter-click .home-filter-select .home-filter-option li:hover a{
    color: #ee4d2d;
}
main .home-filter .home-filter-click .home-filter-select .home-filter-option li a{
    padding-left: 10px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
main .home-filter .home-filter-pagination{
    width: 370px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main .home-filter .home-filter-pagination span{
    padding: 2px;
}
main .home-filter .home-filter-pagination .home-filter-pagination-btn {
    padding: 2px 20px;
    display: flex;
    justify-content: flex-end;
}
main .home-filter .home-filter-pagination .home-filter-pagination-btn button{
    background-color: white;
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 3px;
    margin: 0px 0px 0px 1px;
}
main .home-filter .home-filter-pagination span:first-child{
    color: #ee4d2d;
}
main .home-filter .home-filter-pagination .home-filter-pagination-btn button i{}
/* End-Filter*/

/* End-Main */