html {
  font-size: 16px !important;
}
.contact [type="checkbox"]:checked,
.contact [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.contact [type="checkbox"]:checked + label,
.contact [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 28px;
  display: inline-block;
  color: #666;
}
.contact [type="checkbox"]:checked + label:before,
.contact [type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 26px;
  border: none;
  border-radius: 100%;
  background-image: linear-gradient(to bottom right, #4190e5, #3636bf);
}
.contact [type="checkbox"]:checked + label:after,
.contact [type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid white;
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-transition: all 0.2s ease;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.contact [type="checkbox"]:not(:checked) + label:after {
  background-color: white;
}
.contact [type="checkbox"]:checked + label:after {
  background-image: linear-gradient(to bottom right, #4190e5, #3636bf);
}

.gradient-contact {
  background-image: linear-gradient(to bottom right, #4190e5, #3636bf);
}
select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding-left: 10px;
}
